<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録メールアドレスが<%= @resource.unconfirmed_email %>に変更されます。</p>
<% else %>
  <p>登録メールアドレスが<%= @resource.email %>へ変更されました。</p>
<% end %>
