<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のリンクをお送りします。 </p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は無視していただきますようお願いいたします。</p>
<p>下記リンクにアクセスし、お手続きが完了するまでパスワードが変更されることはございません。</p>
