<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>こんにちは</p>
    <p>ご購入ありがとうございました。</p>
    <p>下記リンクから明細をご覧いただけます。</p>
    <p><%= @url %></p>
  </body>
</html>